{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div>
    <h1>PAGE HEADER</h1>
</div>
{% endblock %}

{% block content %}
<div class="flex flex-col mx-auto">
    <div class="uppercase text-xl mt-6 mb-4 text-center">
        Your Shopping Cart:
    </div>
    <div>
        <div>
            <div>
                {% if cart_items %}

                <div class="flex justify-center">

                    <!-- START: Order Summary Table -->
                    <div class="flex w-full md:max-w-6xl justify-center border-4 border-slate-900 rounded-lg">
                        <table class="w-full text-left text-gray-500 rounded shadow-md">
                            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                                <tr>
                                    <th scope="col" class="py-3 px-6">
                                        Product
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Price
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Quantity
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Remove Item
                                    </th>
                                    <th scope="col" class="py-3 px-6">
                                        Subtotal
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in cart_items %}
                                <tr class="bg-white border-b ">
                                    <th scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap ">
                                        {{ item.product.name }}
                                    </th>
                                    <td class="py-4 px-6">
                                        ${{ item.product.price }}
                                    </td>
                                    <td class="py-4 px-6">

                                        <form class="form update-form" method="POST"
                                            action="{% url 'adjust_cart' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="input-group input-group-{{ product.id }} ">
                                                <div class="flex space-x-4 ">


                                                    <!-- Start: Button to Decrease the Quantity -->
                                                    <div class="flex align-middle justify-center">
                                                        <button class=" decrement-qty decrement-qty_{{ product.id }}"
                                                            data-item_id="{{ product.id }}">
                                                            <span class="">
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- End: Button to Decrease the Quantity -->

                                                    <!-- Start: Input Form showing the quantity -->
                                                    <div>
                                                        <input class="qty_input id_qty_{{ product.id }} text-black"
                                                            type="number" name="quantity" value="{{ item.quantity }}"
                                                            min="1" max="99" data-item_id="{{ product.id }}">
                                                    </div>
                                                    <!-- End: Input Form showing the quantity -->

                                                    <!-- Start: Button to Increase the Quantity -->
                                                    <div class="flex align-middle justify-center">
                                                        <button class="increment-qty increment-qty_{{ product.id }}"
                                                            data-item_id="{{ product.id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <!-- End: Button to Decrease the Quantity -->

                                                    <!-- Start: Submit button -->
                                                    <div>
                                                        <button
                                                            class="btn-blue-greenhighlight"><input
                                                                type="submit" class="" value="Update">
                                                        </button>
                                                    </div>



                                                </div>
                                            </div>

                                        </form>

                                    </td>
                                    <td <a class="remove-item" id="remove_{{ item.item_id }}">
                                        <button class="btn-blue-greenhighlight">
                                            Remove Item
                                        </button>
                                        </a>

                                    </td>


                                    <td class="py-4 px-6">
                                        <p>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr class="bg-white border-b font-bold">

                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="py-4 px-6">
                                        <p>Cart Total: ${{ total|floatformat:2 }}</p>
                                    </td>
                                </tr>

                                <tr class="bg-white border-b font-bold">
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="py-4 px-6">
                                        <p>Delivery: ${{ total|floatformat:2 }}</p>
                                    </td>
                                </tr>

                                <tr class="bg-white border-b font-bold">
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="">
                                        <p></p>
                                    </td>
                                    <td class="py-4 px-6">
                                        <p>Grand Total: ${{ grand_total|floatformat:2 }}</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- END: Order Summary Table -->



                </div>

                <div class="flex flex-row justify-center mb-4 mt-4 space-x-4">
                    <a href="{% url 'store' %}" class="btn-blue-greenhighlight">
                    </a>

                    <a href="{% url 'checkout' %}" class="btn-blue-greenhighlight">
                    </a>
                </div>



                {% else %}
                <!--    Start: Condition on where bag is empty -->

                <div class="flex ">
                    <div class="md:max-w-6xl bg-pure-white border-4 justify-center border-black rounded-lg px-12 py-8">
                        <div class="text-center text-4xl my-4 ">
                            Your cart is empty !
                        </div>
                        <div class="flex justify-center mb-4">
                            <a href="{% url 'store' %}">
                                <button
                                    class="btn-blue-greenhighlight text-xl">
                                    Return to Store
                                </button>
                            </a>
                        </div>
                    </div>
                </div>

                <!--    End: Condition on where bag is empty -->
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script src="{% static 'js/quantity_input_script.js' %}"></script>

<script>
    // Remove item and reload on click
    $('.remove-item').click(function (e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var url = `/cart/remove/${itemId}/`;
        var data = { 'csrfmiddlewaretoken': csrfToken };

        $.post(url, data)
            .done(function () {
                location.reload();
            });
    })
</script>

{% endblock %}