{% extends 'base.html' %} {% load static %} {% block content %}

<section class="bg-white mx-auto max-w-screen-xl">
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center">
            <div class="mb-4 text-7xl tracking-tight font-extrabold lg:text-9xl text-primary-600"><i
                    class="fa-solid fa-plug-circle-exclamation"></i></div>
            <p class="mb-4 text-3xl tracking-tight font-bold text-gray-900 md:text-4xl ">Something's missing.</p>
            <p class="mb-4 text-lg font-light text-gray-500"> The page you are looking for isn't available.</p>
            <a href="{% url 'store' %}" class="btn-blue-greenhighlight">Back to Store</a>
        </div>
    </div>
</section>

{% endblock %}