<!DOCTYPE html>
{% extends 'base.html' %} {% load static %} {% block content %}
<div>
  <div>
    <div></div>
  </div>
</div>
<div>
  <p class="text-center mb-4 text-4xl lowercase font-extrabold">Sorry !</p>
  <p class="text-center mb-12 text-lg italic">
    The page you are looking for isn't available.
  </p>
  <div class="flex justify-center text-8xl text-fuchsia-800">
    <i class="fa-solid fa-plug-circle-exclamation"></i>
  </div>
  <div class="flex justify-center mt-12 mb-36">
    <button
      class="px-6 py-4 ml-4 text-center text-2xl rounded bg-blue-900 text-green hover:bg-indigo-600 focus:outline-none text-zinc-100"
    >
      <a href="{% url 'store' %}"> Return to store </a>
    </button>
  </div>
</div>
{% endblock %}
