{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div>
    <div>
        <div></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div></div>
<div>
    <div>
        <div>
            <hr>
            <h2>Product Management</h2>
            <h5>Add a Product</h5>
            <hr>
        </div>
    </div>

    <div>
        <div>
            <form method="POST" action="{% url 'add_new_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {% if field.name != 'image' %}
                {{ field.name }}: {{ field }}
                {% else %}
                {{ field }}
                {% endif %}
                {% endfor %}
                <div>
                    <a href="{% url 'store' %}">Cancel</a>
                    <button type="submit">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}