{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}


{% block page_header %}
{% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center bg-pure-white rounded-lg border-2 shadow-md border-none md:border-black my-auto mx-auto  min-w-md pb-8 mb-8 pt-8 mt-8">
    <div>
            <p class="text-3xl text-center">Product Management</p>
            <p class="text-lg text-center mt-4 mn-8">Add a Product</p>
    </div>


    <div class="mx-auto bg-pure-white w-11/12 border-gray rounded-lg border-2 shadow-md border-separate">
     <div class="mx-2 my-2">   
            <form method="POST" action="{% url 'add_new_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                {{ field | as_crispy_field }}
                {% endfor %}
                <div class="flex flex-row justify-center">
                    <a href="{% url 'store' %}" class="btn-blue-redhighlight mb-4 w-40">Cancel</a>
                    <button type="submit" class="btn-blue-greenhighlight mb-4 w-40">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}