{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mx-auto my-auto">
    <div class="flex flex-col">

        <div class="flex flex-col">
        <div class="text-center mb-2 mt-2 text-2xl text-blue w-96 mx-auto">
            <p>The web's best site for vintage electronics !</p>
        </div>
        <div class="mx-auto mb-4">
        <!-- Shop Now Button -->
        <a href="{% url 'store' %}" class="btn-blue-greenhighlight text-xl">
            Shop Now !
        </a>
        </div>

        </div>

        <div
            class="bg-slate-900 mx-auto object-center object-fill items-center justify-center bg-pure-white rounded-lg border-4 shadow-md border-black py-8 px-8">

            <img src="{% static 'media/5426888_apple_mac_pc_retro_icon.png' %}"
                class="mx-auto object-fill object-center" alt="Cover Image" style="height:50%;">
        </div>
    </div>
</div>
{% endblock %}