{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="">
        <div class="">
            <div class=""></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class=""></div>
    <div class="">
        <div class="">
            <div class="">
                <div class="">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="">
                <div class="">
                    <p class="">Name: {{ product.name }}</p>
                    <p class="">${{ product.price }}</p>
                    <p class="">Manufacturer: {{ product.manufacturer }}</p>
                    <p class="">Description: {{ product.description }}</p>

                    <!-- Code to edit and delete if user is admin -->
                    {% if request.user.is_superuser %}
                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                        <a href="{% url 'delete_product' product.id %}">Delete</a>
                    {% endif %}

                    <!-- Add to Cart Form-->
                    <!-- Uses the post method to send information to the server -->
                    <!-- As we are using post, need to include the csrf_token  -->
                    <!-- <form class="form" action="% url 'add_to_cart' product.id %" method="POST"> -->
                    <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">    
                        {% csrf_token %}
                        <div class="">                          
                            <div class="">
                                <p class=""><strong>Quantity:</strong></p>
                                <div class="">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="">
                                            <button class="decrement-qty decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>Decrease Quantity
                                                </span>
                                            </button>
                                        </div>
                                        <input class="qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="">
                                            <button class="increment-qty increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>Increase Quantity
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Second Column with products -->
                            <div class="">
                                <a href="{% url 'store' %}" class="">
                                    <span class="">
                                        <i class=""></i>
                                    </span>
                                    <!-- Keep Shopping button -->
                                    <span class="">Keep Shopping</span>
                                </a>
                                <input type="submit" class="" value="Add to cart">
                            </div>
                            <!-- Hidden redirect button -->
                            <!-- Redirect URL will contain the current url -->
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}



{% block postloadjs %}

<script type="text/javascript" src="{% static "js/quantity_input_script.js" %}"></script>
{% endblock  %}