{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div>
        <h2>Page Header for Products</h2>
    </div>
{% endblock %}

{% block content %}

        <!-- Filter names for filtering view -->

        <h2>Manufactuer Names</h2>

        <ul>
            {% for m in manufacturer %}
                <li><a class="" href="{% url 'store' %}?manufacturer={{ m.manufacturer }}">{{ m.manufacturer }}</a></li>
            {% endfor %}
        </ul>

        <h2>Decades</h2>

        <ul>
            {% for y in release_decade %}
                <li><a class="" href="{% url 'store' %}?year={{ y.release_decade }}">{{ y.release_decade }}</a></li>
            {% endfor %}
        </ul>

        <h2>CPU</h2>
        <ul>
            {% for c in cpu %}
                <li><a class="" href="{% url 'store' %}?cpu={{ c.cpu }}">{{ c.cpu }}</a></li>
            {% endfor %}
        </ul>


        <h2>Products</h2>
        
        <div class="">
            <div class="">
                <div class="">
                    <div class="">
                        <div class="">
                            <select id="sort-selector" class="">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="manufacturer_asc" {% if current_sorting == 'manufacturer_asc' %}selected{% endif %}>Manufacturer (A-Z)</option>
                                <option value="manufacturer_desc" {% if current_sorting == 'manufacturer_desc' %}selected{% endif %}>Manufacturer (Z-A)</option>
                            </select>
                        </div>
                    </div>

                    <!-- Search box functionality -->
                    <div class="">
                        <p class="">
                            {% if search_term or current_manufacturer or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'store' %}">Store Home</a> | </span>
                            {% endif %}
                            {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>

                <!-- Product Listing -->
                <div class="row">
                    {% for product in products %}
                        <div class="">
                            <div class="">
                                {% if product.image %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="" src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'product_detail' product.id %}">
                                    <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                </a>
                                {% endif %}
                                <div class="">
                                    <p>{{ product.name }}</p>
                                    <p>${{ product.price }}</p>
                                    <p>{{ product.manufacturer }}</p>

                                    <!-- Code to edit and delete if user is admin -->
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                                        <a href="{% url 'delete_product' product.id %}">Delete</a>
                                    {% endif %}

                                </div>

                            </div>
                        </div>
                </div>

            </div>
        </div>

        {% endfor %}
    
  
{% endblock %}

{% block postloadjs %}

    <!-- This will append the code to anything already in the block as opposed to  overwriting -->
    {{ block.super }} 
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <!-- Code to make the sorting logic work -->
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0]; // get sorting parameter
                var direction = selectedVal.split("_")[1]; // get ascending or descending

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% endblock %}