{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}

    <!-- Start: Store Page Content -->
    <div class="flex flex-col mx-auto">

        <!-- Start: Product Header -->
        <div class="text-2xl text-center">Products</div>
        <!-- End: Product Header -->

        <!-- Start: Sidebar -->
        {% include '_filter_drawer.html' %}
        <!-- End: Sidebar -->

        <!-- Start: Drawer Buttons -->      
        <div class="flex flex-col md:flex-row md:relative absolute justify-center invisible md:visible">
        {% include '_filter_dropdown_buttons.html' %}
        </div>
        <!-- End: Drawer Buttons -->

        <!-- Start: Container for the sort selector -->       
        <!-- <select id="sort-selector" class="flex justify-center w-96 mx-auto">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            <option value="manufacturer_asc" {% if current_sorting == 'manufacturer_asc' %}selected{% endif %}>Manufacturer (A-Z)</option>
            <option value="manufacturer_desc" {% if current_sorting == 'manufacturer_desc' %}selected{% endif %}>Manufacturer (Z-A)</option>
        </select> -->
        <!-- End: Container for the sort selector -->

        <!-- Start Product Listing -->
            <div class="flex mb-8 mt-8 mx-auto">
                <div class="place-items-center grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 md:gap-6 lg:gap-12 gap-4">
                {% for product in products %}
                <div>
                <a href="{% url 'product_detail' product.id %}" class="flex flex-col items-center bg-pure-white rounded-lg border shadow-md md:flex-row border-black hover:bg-gray w-80">
                    {% if product.image %}
                    <img class="object-cover w-full h-64 rounded-t-lg md:w-48 md:rounded-none md:rounded-l-lg"                    
                    src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% else %}
                    <a href="{% url 'product_detail' product.id %}">
                        <img class="" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                    </a>
                    {% endif %}
                    <div class="flex flex-col justify-between p-4 leading-normal">
                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">{{ product.name }}</h5>
                        <ul>
                        <li class="mb-3 font-normal text-gray-700 ">${{ product.price }}</li>
                        <li class="mb-3 font-normal text-gray-700 ">{{ product.manufacturer }}</li>
                        </ul>
                    </div>
                    <!-- Code to edit and delete if user is admin -->
                    {% if request.user.is_superuser %}
                    <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                    <a href="{% url 'delete_product' product.id %}">Delete</a>
                    {% endif %}
                </a>
                
                </div>
                {% endfor %}
        </div>
        </div>
        <!-- End Product Listing -->

    </div>
    <!-- End: Store Page Content -->

   

        
    
  
{% endblock %}

{% block postloadjs %}

    <!-- This will append the code to anything already in the block as opposed to  overwriting -->
    {{ block.super }} 
    <script>
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <!-- Code to make the sorting logic work -->
    <script>
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0]; // get sorting parameter
                var direction = selectedVal.split("_")[1]; // get ascending or descending

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>


{% endblock %}