{% extends "base.html" %}
{% load static %}
{% load cart_tools %}
{% load crispy_forms_tags %}
{% load tailwind_filters %}

{% block extra_css %}
<!-- <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}"> -->
{% endblock %}

{% block pre_js %}
{% endblock pre_js %}

{% block page_header %}
{% endblock %}

{% block content %}

<div class="flex flex-col items-center justify-center bg-pure-white rounded-lg border-2 shadow-md border-none md:border-black my-auto mx-auto  min-w-md pb-8 mb-8 pt-8 mt-8">
    <!-- START: Header for Checkout page-->
    <div class="text-xl text-center">
        Checkout
    </div>
    <!-- End: Header for Checkout page-->
    <div class="mx-2 md:mx-8 w-11/12 border-gray rounded-lg border-2 shadow-md border-separate">

        <!-- START: Order Summary Div -->
        <table class="text-left text-gray-500 mx-2 my-2 ">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                <tr>
                    <th scope="col" class="py-3 md:px-6 px-2">
                        Product
                    </th>
                    <th scope="col" class="py-3 md:px-6 px-2">
                        Price
                    </th>
                    <th scope="col" class="py-3 md:px-6 px-2">
                        Quantity
                    </th>
                    <th scope="col" class="py-3 md:px-6 px-2">
                        Subtotal
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart_items %}
                <tr class="bg-white border-b ">
                    <th scope="row" class="py-4 md:px-6 px-2 font-medium text-gray-900 whitespace-nowrap ">
                        {{ item.product.name }}
                    </th>
                    <td class="py-4 md:px-6 px-2">
                        ${{ item.product.price }}
                    </td>
                    <td class="py-4 md:px-6 px-2">
                        {{ item.quantity }}
                    </td>
                    <td class="py-4 md:px-6 px-2">
                        <p>${{ item.product.price | calc_subtotal:item.quantity }}</p>
                    </td>
                </tr>
                {% endfor %}
                <!-- Cart Total Row -->
                <tr class="bg-white border-b font-bold col-span-3">
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="py-4 md:px-6 px-2">
                        <p>Cart Total: ${{ total|floatformat:2 }}</p>
                    </td>
                </tr>
                <!-- Delivery Total Row -->
                <tr class="bg-white border-b font-bold">
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="py-4 md:px-6 px-2">
                        <p>Delivery: ${{ delivery|floatformat:2 }}</p>
                    </td>
                </tr>
                <!-- Grand Total Row -->
                <tr class="bg-white border-b font-bold">
                    <td class=""></td>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="py-4 md:px-6 px-2">
                        <p>Grand Total: ${{ grand_total|floatformat:2 }}</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- END: Order Summary Table -->
    </div>
    <!-- END: Order Summary Div -->

    <p class="text-md mt-4 mb-4 text-blue font-semibold">Please fill out the form below to complete your order:</p>

    <!--    Order Form Div -->
    <div class="mx-auto bg-pure-white w-11/12 border-gray rounded-lg border-2 shadow-md border-separate">
        

        <!-- START: Payment Form -->
        <div class="mx-4">
        <form action="{% url 'checkout' %}" method="POST" id="payment-form" class="">
            {% csrf_token %}
            <fieldset>
                <legend class="text-lg text-center font-semibold text-blue pt-4 pb-2">Details</legend>
                {{ order_form.full_name | as_crispy_field }}
                {{ order_form.email | as_crispy_field }}
            </fieldset>
            <fieldset class="text-gray-700">
                <legend class="text-lg text-center font-semibold text-blue pt-4 pb-2">Delivery</legend>
                {{ order_form.phone_number | as_crispy_field }}
                {{ order_form.country | as_crispy_field }}
                {{ order_form.postcode | as_crispy_field }}
                {{ order_form.town_or_city | as_crispy_field }}
                {{ order_form.street_address1 | as_crispy_field }}
                {{ order_form.street_address2 | as_crispy_field }}
                {{ order_form.county | as_crispy_field }}
                <div>
                    {% if user.is_authenticated %}
                    {% else %}
                    <label for="id-save-info">
                        <p>Checkout as Guest:</p>
                        <a href="{% url 'account_signup' %}">Create an account</a> or
                        <a href="{% url 'account_login' %}">login</a> to save this information
                    </label>
                    {% endif %}
                </div>
            </fieldset>

            <!-- Payment Field -->
            <fieldset
                class="bg-white focus:border-2 focus:border-black focus:outline-none border border-gray-300 border-solid rounded-lg py-2 px-4 block w-full appearance-none leading-normal text-gray-700">
                <legend>Payment</legend>
                <!-- A Stripe card element will go here -->
                <div id="card-element"></div>
                <!-- Used to display form errors -->
                <div id="card-errors" role="alert"></div>
                <!-- Pass the client secret to the view so we can get the payment intent id -->
                <input type="hidden" value="{{ client_secret }}" name="client_secret">
            </fieldset>

            <!-- START: Confirm / Adjust Buttons-->
            <div>
                <div class="flex flex-col md:flex-row justify-center space-x-8">
                    <a href="{% url 'cart' %}" class="btn-blue-redhighlight mb-2 mt-2 w-36 mx-auto md:mx-0">
                        <span>Adjust Bag</span>
                    </a>
                    <button id="submit-button" class="btn-blue-greenhighlight mb-2 mt-2 w-36  mx-auto md:mx-0">
                        <span>Complete Order</span>
                    </button>
                </div>
                <!-- START: Charge Warning -->
                <p class="text-center pb-4 pt-4">
                    <span>
                        <i class="fas fa-exclamation-circle"></i>
                    </span>
                    <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                </p>
                <!-- END: Charge Warning -->
            </div>
            <!-- End : Confirm / Adjust Buttons-->
        </form>
        </div>
        <!-- END: Payment Form -->
    </div>
</div>

<!-- Spinner animation for purchase processing -->
<div class="loading-overlay no-display">
    <div class="bold loading__spinner">
        <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </div>
</div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script src="{% static 'js/stripe_elements.js' %}"></script>
{% endblock postloadjs %}