<!-- 
Template Code from here: 
https://devdojo.com/tailwindcss/playground?component=dropdown-simple
-->

<!-- START: Manufacturer -->
<div class="flex-none p-2  max-h-20 bg-white relative z-40 overflow-visible">
    <button onclick="showDropdownOptions('manu')"
        class="flex flex-row justify-between w-48 px-2 py-2 text-gray-700 bg-white border-2 border-black rounded-md shadow focus:outline-none focus:border-blue-600 z-20">
        <span class="select-none">Manufacturer</span>

        <svg id="arrow-down-manu" class="hidden w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
        <svg id="arrow-up-manu" class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div id="options-manu" class="absolute hidden w-48 py-2 mt-2 bg-white rounded-lg shadow-xl z-50">
        {% for m in manufacturer %}
        <a href="{% url 'store' %}?manufacturer={{ m.manufacturer }}"
            class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">{{ m.manufacturer }}</a>
        {% endfor %}
    </div>
</div>
<!-- END: Manufacturer -->

<!-- START: CPU -->
<div class="flex-none p-2 max-h-20 relative z-30 overflow-visible">
    <button onclick="showDropdownOptions('cpu')"
        class="flex flex-row justify-between w-48 px-2 py-2 text-gray-700 bg-white border-2 border-black rounded-md shadow focus:outline-none focus:border-blue-600 z-20">
        <span class="select-none">CPU</span>

        <svg id="arrow-down-cpu" class="hidden w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
        <svg id="arrow-up-cpu" class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div id="options-cpu" class="absolute hidden w-48 py-2 mt-2 bg-white rounded-lg shadow-xl">
        {% for c in cpu %}
        <a href="{% url 'store' %}?cpu={{ c.cpu }}"
            class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">{{ c.cpu }}</a>
        {% endfor %}
    </div>
</div>
<!-- END: CPU -->


<!-- START: Year -->
<div class="flex-none p-2 max-h-20 relative z-20 overflow-visible">
    <button onclick="showDropdownOptions('year')"
        class="flex flex-row justify-between w-48 px-2 py-2 text-gray-700 bg-white border-2 border-black rounded-md shadow focus:outline-none focus:border-blue-600">
        <span class="select-none">Release Year</span>

        <svg id="arrow-down-year" class="hidden w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg"
            viewbox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd" />
        </svg>
        <svg id="arrow-up-year" class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20">
            <path fill-rule="evenodd"
                d="M14.707 12.707a1 1 0 01-1.414 0L10 9.414l-3.293 3.293a1 1 0 01-1.414-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 010 1.414z"
                clip-rule="evenodd" />
        </svg>
    </button>
    <div id="options-year" class="absolute hidden w-48 py-2 mt-2 bg-white rounded-lg shadow-xl">
        {% for y in release_decade %}
        <a href="{% url 'store' %}?year={{ y.release_decade }}"
            class="block px-4 py-2 text-gray-800 hover:bg-indigo-500 hover:text-white">{{ y.release_decade }}</a>
        {% endfor %}
    </div>
</div>
<!-- END: Year -->


<!-- START: Clear All Button -->
<div class="flex-none p-2 max-h-20 relative z-20 overflow-visible">
    <button onclick="location.href='{% url 'store' %}'"
        class="flex flex-row justify-between w-48 px-2 py-2 text-gray-700 bg-white border-2 border-black rounded-md shadow focus:outline-none focus:border-blue-600">
        <span>Clear Filters</span></button>
</div>
<!-- END: Clear All Button -->


<script>
    function showDropdownOptions(field) {
        document.getElementById("options-" + field).classList.toggle("hidden");
        document.getElementById("arrow-up-" + field).classList.toggle("hidden");
        document.getElementById("arrow-down-" + field).classList.toggle("hidden");
    }
</script>