{% load static %}

<!doctype html>
<html lang="en">

  {% block meta %}
  <!-- Required meta tags -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  {% endblock %}


  {% block corejs %}

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- 
  <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script> -->

<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>

  <!--  Stripe Integration -->
  <script src="https://js.stripe.com/v3/"></script>


   {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>RetroPC {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header>

    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'store' %}">Store</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'account_logout' %}" >Logout</a></li>
        {% if request.user.is_superuser %}
          <li><a href="{% url 'add_new_product' %}" >Product Management</a></li>
        {% endif %}
        {% else %}
          <li><a href="{% url 'account_signup' %}" >Register</a></li>
          <li><a href="{% url 'account_login' %}" >Login</a></li>
        {% endif %}


      </ul>
    </nav>

  </header>

  <!-- The search form will have a method of get; we will submitting searches as urls -->
  <!-- There is no action as this has not yet been defined -->
  <!-- The input type will be 'text' and this will be associated witha a name of `q` -->
  <form method="GET" action="{% url 'store' %}">
    <input class=""text" name="q" placeholder="Search our site">
    <div class="">
      <button class=""submit">
        Search Site
      </button>
    </div>
  </form>


  <!-- {% if messages %}{% for message in messages %}<script>alert("{{ message }}");</script>{% endfor %}{% endif %} -->

      <!-- Load any user messages -->
      {% if messages %}
      {% for message in messages %}
              {% include 'includes/toasts/_toast.html' %}
      {% endfor %}
  {% endif %}



  <h1>Test Text</h1>

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  {% endblock  %}


 
</body>

<footer>

  <!-- Email Contact Form -->
  <form class="" method="POST" action="{% url 'newsletter_signup' %}?next={{ request.path }}">
    {% csrf_token %}
    <input type="email" name="email" class="" placeholder="Enter your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
    <button type="submit" class="">Sign Up</button>
</form>

</footer>

</html>