{% load static %}

<!doctype html>
<html lang="en">

<head>

  {% block meta %}
  <!-- Required meta tags -->
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% endblock %}

  {% block extra_meta %}
  {% endblock %}

  {% block corecss %}
  {% endblock %}


  {% block corejs %}
  {% endblock %}

  {% block extra_js %}
  {% endblock %}

  <title>RetroPC {% block extra_title %}{% endblock %}</title>
</head>

<body>
  <header>

    <nav>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'store' %}">Store</a></li>
        <li><a href="{% url 'cart' %}">Cart</a></li>
        {% if request.user.is_authenticated %}
          <li><a href="{% url 'profile' %}">Profile</a></li>
          <li><a href="{% url 'account_logout' %}" >Logout</a></li>
        {% if request.user.is_superuser %}
          <li><a href="{% url 'add_new_product' %}" >Product Management</a></li>
        {% endif %}
        {% else %}
          <li><a href="{% url 'account_signup' %}" >Register</a></li>
          <li><a href="{% url 'account_login' %}" >Login</a></li>
        {% endif %}


      </ul>
    </nav>

  </header>

  <!-- The search form will have a method of get; we will submitting searches as urls -->
  <!-- There is no action as this has not yet been defined -->
  <!-- The input type will be 'text' and this will be associated witha a name of `q` -->
  <form method="GET" action="{% url 'store' %}">
    <input class="" type="text" name="q" placeholder="Search our site">
    <div class="">
      <button class="" type="submit">
        Search Site
      </button>
    </div>
  </form>


  {% for message in messages %}
  {% with message.level as level %}
  {% if level == 40 %}
  <!-- Level 40 - Error -->
  {% elif level == 30 %}
  <!-- Level 30 - Warning -->
  {% elif level == 25 %}
  <!-- Level 25 - Success -->
  {% include 'includes/toasts/toast_success.html' %}
  {% else %}
  <!-- Info -->
  {% endif %}
  {% endwith %}
  {% endfor %}

  <h1>Test Text</h1>

  {% block page_header %}
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block postloadjs %}
  <script type="text/javascript">
    $('.toast').toast('show')
  </script>
  {% endblock %}


</body>

</html>