<!doctype html>
 <!-- The search form will have a method of get; we will submitting searches as urls -->
  <!-- There is no action as this has not yet been defined -->
  <!-- The input type will be 'text' and this will be associated witha a name of `q` -->
  <div class="justify-start">
      <form method="GET" action="{% url 'store' %}">
          <input class="" text="" name="q" placeholder="Search our site">
          <div class="">
              <button class="" submit>
                  Search Site
              </button>
          </div>
      </form>
  </div>